# Optional: image -> MusicXML recognition.
# Install after requirements.txt inside a Python 3.11 virtual environment.
# oemer 0.1.8 is MIT licensed, but older internals rely on NumPy aliases;
# requirements.txt therefore pins NumPy 1.23.5 for compatibility.
oemer==0.1.8
